{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center mt-5">
        <div class="alert alert-info p-5 shadow-sm">
            <h4 class="alert-heading">📧 একটি ইমেইল পাঠানো হয়েছে!</h4>
            <p class="mb-0 mt-3">আপনার দেওয়া ইমেইল এড্রেসটি যদি আমাদের ডেটাবেজে থেকে থাকে, তবে সেখানে পাসওয়ার্ড রিসেট করার নির্দেশনাসহ একটি মেইল চলে গেছে। দয়া করে আপনার ইনবক্স বা স্প্যাম ফোল্ডার চেক করুন।</p>
        </div>
    </div>
</div>
{% endblock %}